<SBRAssuranceSettings>
  <TransformSets>
    <Transforms name="Generic XML" defaultfor="XBRLInstance, XBRLLinkbase, XMLSchema, XML">
      <Transform Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments"/>
    </Transforms>
    <Transforms name="Remove DocumentAdoption and e-mail (subtract, remove whitespace)">
      <Transform Algorithm="http://www.w3.org/2002/06/xmldsig-filter2">
        <XPath xmlns:xbrli="http://www.xbrl.org/2003/instance" xmlns="http://www.w3.org/2002/06/xmldsig-filter2" Filter="subtract">/xbrli:xbrl/*[local-name()='DocumentAdoptionStatus' or local-name()='DocumentAdoptionDate' or local-name()='EmailAddressContact'] | //text()[normalize-space()='']</XPath>
      </Transform>
      <Transform Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments"/>
    </Transforms>
    <Transforms name="Remove DocumentAdoption and e-mail (intersect)">
      <Transform Algorithm="http://www.w3.org/2002/06/xmldsig-filter2">
        <XPath xmlns:xbrli="http://www.xbrl.org/2003/instance" xmlns="http://www.w3.org/2002/06/xmldsig-filter2" Filter="intersect">/xbrli:xbrl/*[not(local-name()='DocumentAdoptionStatus' or local-name()='DocumentAdoptionDate' or local-name()='EmailAddressContact')] | //comment()[not(local-name(..)='DocumentAdoptionStatus' or local-name(..)='DocumentAdoptionDate' or local-name(..)='EmailAddressContact')]</XPath>
      </Transform>
      <Transform Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments"/>
    </Transforms>
  </TransformSets>
  <PreferredLanguage>en</PreferredLanguage>
  <SignaturePolicies>
    <SignaturePolicy>http://nltaxonomie.nl/sbr/signature_policy_schema/v2.0/SBR-signature-policy-v2.0.xml</SignaturePolicy>
    <!--<SignaturePolicy>http://nltaxonomie.nl/sbr/signature_policy_schema/v1.0/SBR-signature-policy-v1.0.xml</SignaturePolicy>-->
  </SignaturePolicies>
</SBRAssuranceSettings>
